@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&family=Playfair+Display:wght@400;700&display=swap');
/* VARIABLES */
*{
    box-sizing: border-box;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    /* colors*/
    --main-color:#32CCBC;
    --primary-color:#3A6B66;
    --main-alt-color:rgba(203, 242, 238, 1);
    --text-dark-color: rgba(16, 22, 45, 0.58);
    --text-alt-dark-color: rgba(0, 0, 0, 1);
    --text-head-dark-color: rgba(51, 51, 51, 1);
    --text-title-dark-color: rgba(0, 0, 0, 0.6);
    --text-small-head-dark-color: rgba(19, 33, 59, 0.6);
    --text-item-head-dark-color:rgba(16, 22, 45, 1);
    --text-light-color:rgba(255, 255, 255, 1);
    --border-color:rgba(223, 232, 246, 1);
}
body{
    overflow-x: hidden;
}
/* END VARIABLES */
.biggest-heading, .section-heading, .box-heading{
    font-family: 'Playfair Display', serif;
}
p, span{
    font-family: 'Montserrat', sans-serif;
}
.biggest-heading{
    font-size: 80px;
    font-weight: 700;
    color: var(--text-light-color);
    line-height: 90px;
    max-width: 600px;
}
@media (max-width:991px) {
    .biggest-heading{
        line-height: 50px;
        font-size: 40px;
        font-weight: 700;
    }
}
@media (min-width:992px) {
    .biggest-heading{
        color: var(--text-head-dark-color);
    }
}
.section-heading{
    font-size: 57px;
    font-weight: 700;
    color: var(--text-head-dark-color);
    margin: 20px 0;
    line-height: 75.98px;
}
@media (max-width:991px){
    .section-heading{
        font-size: 40px;
        margin: 10px 0;
        line-height: 60px;
    }
}
h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
h4 + p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}
.box-heading{
    color: var(--text-light-color);
    font-size: 45px;
    font-weight: 700;
}
p.section-parag{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: var(--text-dark-color);
    padding: 0 20px;
    max-width: 500px;
    margin: 0 auto;
}
@media (max-width:767px) {
    p.section-parag{
        font-size: 12px;
    }
}
p.box-parag{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 5%;
    line-height: 25px;
    color: var(--text-dark-color);
}
p.hero-parag{
    line-height: 27px;
    font-weight: 100;
    font-size: 16px;
    color: var(--text-light-color);
}
@media (min-width:991px) {
    p.hero-parag{
        color: var(--text-alt-dark-color);
    }
}
p.small-title{
    color: var(--text-alt-dark-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0px;
}
a.btn{
    font-family: 'Playfair Display', serif;
    border: 1px solid var(--primary-color);
    padding: 8px 14px;
    background-color: var(--text-light-color);
    color: var(--main-color);
    width: fit-content;
    z-index: 3;
    font-size: 16px;
    font-weight: 400;
   
}
@media (max-width:991px) {
    a.btn{
        margin: 0 auto;
    }
}
a.btn::after{
    content: " ";
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    bottom: 0;
    height: 0%;
    left: 0;
    transition: all 0.3s ease;
    border-radius: 6px;
}
a.btn.center::after{
    width: 0%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a.btn.center:hover::after{
    animation: move-to-end 0.3s linear forwards ;
    z-index: -1;
}
a.btn:hover::after{
    animation: move-to-top 0.3s linear forwards ;
    z-index: -1;
}
a.btn:hover{
    color: var(--text-light-color);
    transition-delay: 0.3s;
}
a.link{
    width: fit-content;
    height: 41px;
    border-radius: 29px;
    padding: 10px, 15px, 10px, 15px;
    padding: 10px 15px;
    background: var(--text-light-color);
    cursor: pointer;
}
/* END GLOBAL CLASSESS */
/* HERO SECTION */
.hero-section{
    background-image: url(../img/hiro-img.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
@media (min-width:992px) {
    .hero-section{
        min-height: 140vh;
    }
}
.hero-section::before{
    content: " ";
    position: absolute;
    background: linear-gradient(#3A6B66 0%, #32CCBC 30.06%, #32CCBC 56.04%, #6DE7DA 69.71%);
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.5;
}
.hero-section::after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: var(--text-light-color);
    z-index: 3;
    clip-path: polygon(20% -200000%, 90% -1%, 25% 100%, 0 70%);
    top: 0;
    left: 0;
    display: none;
}
@media (min-width:992px) {
    .hero-section::after{
        display: block;
    }
}
.hero-section .container-fluid{
    z-index: 1000;
    min-height: inherit;
  
}
.navbar .navbar-brand{
    font-size: 40px;
    color: var(--main-color);
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.navbar .navbar-brand:hover{
    color: var(--main-color);
}
.navbar .nav-item .nav-link{
    font-weight: 400;
    font-size: 16px;
    color: var(--text-alt-dark-color);
    position: relative;
    padding: 8px 20px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
}
.navbar .nav-item .nav-link::after{
    position: absolute;
    content: " ";
    bottom: 0;
    width: 0%;
    transition: all 0.3s ease;
    height: 3px;
    background: var(--primary-color);
    left: 8px;
    border-radius: 8px;
}
.navbar .nav-item .nav-link.active::after,
.navbar .navbar-nav .nav-item:hover .nav-link::after{
    width: calc(100% - 40px);
    left: 20px;
}
.title{
    font-family: 'Playfair Display';
    font-size: 240px;
    font-weight: 700;
    color: var(--text-light-color);
    opacity: 30%;
}
.hero-section .title{
    bottom: -102px;
}
.hero-section .text{
    gap: 20px;
    margin-top: 20vh;
    /*animation: fadeInLeft 2s linear forwards;*/
}
.text p.hero-parag{
    max-width: 490px;
}
.img1{
    top: 100px;
    left: 0px;
    z-index: 10;
    /*animation: moverUpDown 2s infinite alternate;*/
}
.img2{
    z-index: 10;
    top: 120px;
    right: 19%;
    /*animation: mvRight 4s ease-in-out infinite;*/
}
.img3{
    top: 25%;
    z-index: 10;
    left: 50%;
}
.img4{
    top: 66%;
    left: 35%;
    z-index: 10;
}
.img4::after{
    content: url(../img/right.svg);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.img5{
    bottom: 10%;
    z-index: 10;
    right: 20%;
}
.img6{
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    /*animation: moverUDown 3s infinite alternate;*/
}
.sticky-notes-img{
    right: 5%;
    top: 42%;
}
/* PROFILE SECTION */
.profile-section{
    padding-top: 80px;
    padding-bottom: 120px;
}
.profile-section .text{
    animation: fadeI 2s linear forwards;
}
.profile-section .more{
    letter-spacing: 2.25px;
    font-weight: 400;
    font-size: 18px;
    color: var(--text-title-dark-color);
}
.profile-section p{
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    color: var(--text-title-dark-color);
    max-width: 720px;
}
.profile-section .stats{
    border-top: 1px solid rgba(28, 17, 22, 0.1) ;
    border-bottom: 1px solid rgba(28, 17, 22, 0.1) ;
    width: fit-content;
    gap: 30px;
    animation: fadeInUp 2s linear forwards;
}
.profile-section a.btn{
    animation: fadeInUp 2s linear forwards;
}
.y-circle{
    top: 55px;
    left: 50px;
    animation: mvDownLeft 4s infinite ease-in-out;
}
.b-circle{
    top: 25%;
    right: 0;
    animation: moveSm 4s infinite ease-in-out;
}
/* FEATURES SECTION */

.features-section > span{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 5%;
}
.features-section .text{
    animation: fadeInLeft 2s linear forwards;
}
.features-section .section-heading{
    margin: -5px;
}
.red-circle{
    top: 0;
    left: 0;
    z-index: -1;
}
.inner-red-circle{
    top: 60px;
    left: 0;
}
.w-bullet{
    bottom: 145px;
    left: 35px;
    animation: w-bullet-mv 3s infinite ease-in-out;
}
.black-blue-circle{
    left: 0;
    bottom: 0;
    animation: mvToInner 3s infinite ease-in-out;
}
.orange-circle{
    top: -50px;
    left: 135px;
    opacity: 0.5;
    animation: moverDownup 2s infinite alternate;

}
.features-section .boxs{
    flex-wrap: wrap;
    animation: fadeI 2s forwards linear;
}
.features-section .boxs .box{
    min-width: 260px;
    max-height: 258px;
    min-height: 250px;
    width: fit-content;
    box-shadow: 1px 1px  30px rgba(50, 204, 188, 0.12);
    border-radius: 20px;
    width:260px;
    margin-bottom: 20px;
}
.yell-bul{
    top: 35px;
    left: 400px;
}
.about-us .yell-bul{
    animation: fadeInUp 2s linear forwards;
    animation: moverUpDown 2s infinite alternate;
}
.yell-bul::before{
    position: absolute;
    content: url(../img/dots.svg);
    top: -100px;
    left: -100px;
}
.yell-bul::after{
    position: absolute;
    content: url(../img/dots.svg);
    top: 15px;
    z-index: -1;
    
}
.w-circle{
    left: 0;
    animation: mv-w-circle 2s infinite ease-in-out;
}
/* WATCH SECTION */
.watch-text{
    padding-bottom: 40px;
    padding-top: 20px;
    animation: fadeIn 2s linear forwards;
}
.video{
    min-width: 100%;
    min-height:90%;
    overflow: hidden;
}
.video::before{
    content: " ";
    position: absolute;
    background: linear-gradient(90.29deg, #90F7EC 0.41%, #32CCBC 51.17%, #32CCBC 68.78%);
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    opacity: 20%;
    height:100%;
    z-index:3;
}
.video > img{
    width: 100%;
    height: 100%;
}
.video .ply-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transform: translate(-50%, -50%);
    z-index:10;
    animation: fadeIn 2s linear forwards;
}
/* ABOUT US SECTION */
.about-us{
    background-color: var(--primary-color);
    padding-top: 120px;
    padding-bottom: 220px;
}
.about-us .text{
    animation: fadeInLeft 2s linear forwards;
}
.aqua-bullet-ab-us{
    right: 10px;
    top: 10%;
}
.yell-bul.ab-us{
    top: 160px;
    left: 50px;
    z-index:1;
}
.about-us .text, .about-us .section-heading{
    color: var(--text-light-color);
}
.about-us .text > span{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;  
}
.slider{
    background-color: var(--text-light-color);
    width: 265px;
    height: 24px;
    border-radius: 19px;
}
.slider > span{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slider > span.back{
    background-color: #D2D1D1;
}
.slider > span.forward{
    background-color: var(--main-color);
}
.slider .progress{
    width: 146px;
    height: 1px;
    background-color: #D2D1D1;
}
.slider .progress span{
    background-color: var(--main-color);
    width: 30%;
    height: 100%;
}
.about-us .card{
    border-radius: 30px;
    padding: 30px;
    background-color: var(--text-light-color);
    height: fit-content;
    animation: fadeInRight 2s linear forwards;
}
.card .detail{
    margin-top: 20px;
}
.card .detail span{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--text-head-dark-color);
}
.w-circle-about{
    top: 10px;
}
.aqua-bullet{
    top: 50px;
    right: 10px;
}
.w-big-cir{
    top: 65%;
    right: -20px;
    animation: moverUpDown 2s infinite alternate;
}
.about-us::after{
    content: " ";
    background-color: var(--text-light-color);
    left: 0;
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: 100px;
    opacity: 10%;
}
.about-us .work-us{
    background-color: var(--main-alt-color);
    width: fit-content;
    width: 70%;
    padding: 20px 50px;
    border-radius: 8px;
    bottom: -21%;
    left: 50%;
    transform: translateX(-50%);
}
.about-us .work-us .section-heading{
    color: var(--text-head-dark-color);
}
.about-us .work-us p{
    color: var(--text-alt-dark-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;

}
.circle-about-y{
    top: 30px;
    right: 60px;
}
.about-full-w-sircle{
    bottom: 20px;
    right: 20px;
}
.aqua-bullet{
    left: -45px;
    top: 348px;
}
.about-ora-circle{
    bottom: -210px;
    left: 0;
}
/*SERVICE SECTION */
section.services{
    padding-top: 350px;
}
/*OUR-TEAM SECTION */
.our-team{
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: 120px;
    margin-top: 300px;
}
.our-team .team-text{
    padding-right: 150px;
    top: 60%;
    transform: translateY(-50%);
}
.our-team .team-text p,
.our-team .team-text .section-heading{
    color: var(--text-light-color);
}
.our-team .team-text p:nth-of-type(2){
    text-transform: none;
}
.popur-box{
    padding: 30px;
    background-color: var(--main-alt-color);
    border-radius: 5px;
    color: var(--text-alt-dark-color);
    width: 80%;
    top: -160px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}
.popur-box .popur-text p:nth-last-of-type(2){
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    color: var(--text-alt-dark-color); 
}
.pc{
    right: 0;
    bottom: -155px;
    z-index: 10;
}
.team-yello-cir{
    right: 5px;
    top: 30%;
}
.our-team .title{
    bottom: -90px;
}

/*CONTACT SECTION*/
.contact{
    padding-top: 180px;
    padding-bottom: 70px;
    margin-bottom: 100px;
}
.contact .container-fluid{
    background: linear-gradient(90.26deg, #3A6B66 0.36%, #32CCBC 39.41%, #32CCBC 73.16%, #6DE7DA 90.9%);
    max-width: 80%;
    margin: auto;
    border-radius: 20px;
}
.contact .contact-text{
    color: var(--text-light-color);
    margin: auto;
}
.contact .text-heading{
    font-size: 60px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    margin: 40px 0;
    font-family: 'Playfair Display', serif;
}
.contact .text-head{
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}
.contact p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
}
.contact form{
    background-color: var(--text-light-color);
    padding: 26px 19px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif !important;
    margin: 20px 30px;
}

.contact input, .contact select{
    height: 47px;
}
.contact input, .contact select,
.contact textarea{
    padding: 12px 20px;
    border: 1px solid var(--border-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    resize: none;
}
.contact .form-control::placeholder,
.contact select{
    color: rgba(132, 143, 172, 1)!important ;
}
.contact .name, .contact .number{
    max-width: 49%;
}
.contact label{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: rgba(16, 22, 45, 1);
    margin-bottom: 0.5rem;
}
.contact button[type=submit]{
    background-color: var(--main-color);
    color: var(--text-light-color);
}
.contact .gred-circle{
    top: 36%;
    left: 30px;
}
.contact .yel-cont-cir{
    left: 60%;
    bottom: -30px;
}
.contact .conta-aqua-bullet{
    top: 115px;
    left: 160px;
}
.contact .conta-about-ora-circle{
    top: 0;
}
.contact .conta-aqua-bullet{
    top: 115px;
    left: 160px;
}
.contact .conta-about-ora-circle{
    top: 0;
}
@keyframes team-y-c-animate {
    50%{
        transform: translate(-35px, -15px);
    }
}
@keyframes gred-circle-animate {
    50%{
        transform: translate(125px, 0px);
    }
}
@keyframes yel-cont-cir-animate {
    50%{
        transform: translateY(-90px);
    }
}
/*FOOTER SECTION */
.footer{
    background-color: var(--primary-color);
    padding-top: 20px;
    color: var(--text-light-color);
}
.footer .text{
    margin-top: 0;
    animation: fadeInLeft 2s linear forwards;
}
.footer .text .heading{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    margin-bottom: 30px;
}
.footer .heading + p{
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;  
}
.footer .details div {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}
.footer form{
    max-width: 420px;
    height: 48px;
}
.footer input{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid var(--text-light-color);
    outline: none;
    border-radius: 12px;
    margin-top: 20px;
    caret-color: var(--text-light-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}
.footer input::placeholder{
    color: var(--text-light-color);
    outline: none;
}
.footer input:focus{
    background-color: transparent;
    outline: none;
}
.footer .details .subscribe{
    top: 4px;
    right: 6px;
    cursor: pointer;
    padding: 7px 20px;
    color: var(--text-light-color);
    background: var(--main-color);
    border: 1px solid transparent;
    border-radius: 8px;
}
.footer ul,
.footer ul li{
    margin: 0;
    padding: 0;
}
.footer ul{
    margin-top: 40px;
}
.footer ul li:not(:last-of-type){
    margin-right: 30px;
}
.footer a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    letter-spacing: 0em;
    color: var(--text-light-color);
}
.footer .copy-right{
    border-top: 1px solid var(--text-light-color);
}
@media (min-width:1201px) {
    .features-section .boxs .box:nth-of-type(2){
        top: -40px;
        margin-right: 40px;
    }
    .features-section .boxs .box:nth-of-type(3){
        margin-top: 111px;
    }    
    .features-section .boxs .box:nth-of-type(4){
        margin-top: -132px;
    }
    .features-section .boxs .box:nth-of-type(5){
        top: 10px;
        left: 40px;
    }
    .our-team{
        min-height: 110vh;
    }
    .treat{
        padding-top: 170px;
    }
    .project-box{
        padding: 60px 80px;
    }
    .footer .copy-right div:nth-of-type(1){
        margin-left: 33%;
    }
}
@media (max-width:1201px) {
    .features-section .text{
        max-width: 570px;
        margin: auto;
    }
    body > .features-section > div > div > div> a{
        margin: auto;
        margin-bottom: 40px;
    }
    .about-us .text{
        max-width: 600px;
        text-align: center;
        margin: auto;
    }
    .about-us{
        padding-top: 80px;
        padding-bottom: 140px;
    }
    .about-us .slider{
        margin: auto;
        margin-bottom: 30px;
    }
    .our-team{
        height: 770px;
    }
    .treat p:not(.small-title){
        padding: 15px;
    }
    .services p.hero-parag{
        color: var(--text-alt-dark-color);
    }
}
@media (min-width:768px) and (max-width:1200px) {
    .features-section .boxs{
        justify-content: space-between;
        padding: 30px 130px;
        gap: 30px;
    }
    .about-us .card{
        max-width: 600px;
        margin: auto;
    }
    .about-us .card .info{
        flex-flow: column-reverse;
    }
    .project-box{
        padding: 60px 80px;
        max-width: 80%;
        margin: auto;
    }
    .footer .text{
        max-width: 580px;
        margin-bottom: 40px;
    }
    .footer .details{
        margin-bottom: 40px;
    }
}
@media (max-width:768px) {
    .section-heading{
        font-size: 30px;
        line-height: 50px;
    }
    .profile-section .section-heading + p{
        font-size: 14px;
    }
    .features-section .boxs{
        justify-content: center;
    }
    .video .ply-btn{
        width: 70px;
        height: 70px;
    }
    .about-us .work-us{
        width: 100%;
        bottom: -21%;
    }
    .popur-box{
        width: 100%;
    }
    .popur-box .popur-text p:nth-last-of-type(2){
        font-size: 13px;
        line-height: 15px;
    }
    .our-team{
        padding: 10px;
    }
    .our-team .team-text{
        padding-right: 0;
        top: 60%;
        transform: translateY(-50%);
    }
    .project-box{
        padding: 30px 15px;
    }
    .project-box .heading{
        font-size: 27px;
        line-height: 40px;
    }
    .project-box .heading + span {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .footer .text .heading{
        font-size: 30px;
    }
    .footer .heading + p,
    .footer form input{
        font-size: 13px;
        line-height: 25px;
    }
    .footer .details div{
        font-size: 18px;
    }
    .footer form{
        max-width: 85%;
    }
    .footer .details .subscribe {
        top: 8px;
        right: 6px;
        cursor: pointer;
        padding: 4px 10px;
        border: 1px solid transparent;
        border-radius: 6px;
        font-size: 13px;
    }
    .footer ul{
        flex-direction: column;
        margin-bottom: 30px;
    }
    
}
@keyframes move-to-top {
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
@keyframes move-to-end {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@media (min-width:991px) {
    .profile-section .stats{
        width: 540px;
    }
}
@media (max-width:991px) {
    .navbar .navbar-collapse{
        background-color: var(--main-color);
        opacity: 0.9;
    }
    .navbar .nav-item .nav-link,
    .navbar .nav-item .nav-link.active{
        width: fit-content;
        font-size: 20px;
        color: var(--text-light-color);
        padding: 12px 20px;
    }
    .hero-section .text{
        margin: 16vh auto;
    }
    .hero-section .biggest-heading,
    .hero-section p.hero-parag{
        margin: auto;
    }
}
@media (max-width:400px) {
    .about-us .work-us{
        bottom: -30%;
    }
}
@media (max-width:300px) {
    .navbar .navbar-brand{
        font-size: 25px;
    }
    .biggest-heading{
        font-size: 25px;
    }
    p.hero-parag,
    a.btn{
        font-size: 12px;
    }
    .hero-section .text{
        margin: 10vh auto;
    }
    body > section > div.container-fluid.position-relative > nav > div > button{
        padding: 5px;
    }
    body > section > div.container-fluid.position-relative > nav > div > button > span{
        font-size: 18px !important;
    }
    .navbar .nav-item .nav-link,
    .navbar .nav-item .nav-link.active{
        font-size: 12px;
    }
    .profile-section p,
    .profile-section .more{
        font-size: 12px;
        line-height: 25px;

    }
    .section-heading{
        font-size: 22px;
        line-height: 27px;
    }
    .profile-section {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .about-us p.section-parag{
        padding: 10px;
        font-size: 10px;
    }
    .slider{
        width: 240px;
    }
    .card .detail span{
        font-size: 16px;
    }
    p.box-parag,
    .team-text p.small-title{
        font-size: 12px;
    }
    .about-us .work-us{
        bottom: -15%;
    }
    .popur-box .section-heading +p {
        font-size: 11px;
    }
    .project-box{
        padding: 10px;
    }
    .social .project-box .heading{
        font-size: 22px;
        line-height: 42px;
    }
    .footer ul a{
        font-size: 14px;
    }
    .footer .copy-right{
        font-size: 13px;
    }
}
@keyframes fadeInLeft {
	from {
		transform: translate3d(-900px,0 , 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@-webkit-keyframes moverUpDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}
@keyframes moverUpDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}
@keyframes moverUDown {
    50% { transform: translateY(-280px); }
}
@keyframes move {
    50% {
        transform: translate(30px, 30px);
    }
}
  @keyframes mvRight {
    50%{
        transform: translateX(100px);
    }
}
@keyframes fadeIn{
	from {
		transform: translate3d(0, -100%, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeI{
	from {
		transform: translate3d(0, -30%, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,60px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@keyframes mvDownLeft {
    50% {
        transform: translate(-40px, 40px);
    }
}
@keyframes moveSm {
    50%{
        transform: translate(60px, 10px);
    }
}
@keyframes moverDownup {
    50%{
        transform: translate(10px, 50px);
    }
}
@keyframes mv-w-circle {
    50%{
        transform: translate(-30px, 10px);
    }
}
@keyframes mvToInner {
    50%{
        transform: translate(-40px, -35px);
    }
}
@keyframes w-bullet-mv {
    50%{
        transform: translate(-18px, 6px)
    }
}





















/*TREAT SECTION 
.treat{
    padding-top: 40px;
    padding-bottom: 40px;
}
.treat-text{
    max-width: 700px;
}
.treat-text .section-heading{
    color: var(--text-alt-dark-color);
}
.treat-text p:nth-last-of-type(2){
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: var(--text-dark-color);
}
.treat .slider{
    background-color: rgba(248, 243, 243, 1);
}
.treat .back,
.treat .forward{
    color: var(--text-light-color);
}
.treat-orang-circle{
    position: absolute;
    right: -70px;
    bottom: 0;
}
*/
/*SOCIAL SECTION
.social{
    padding-top: 70px;
    padding-bottom: 70px;
}
.div-social-img{
    z-index: -1;
    top: 33%;
    left: 0;
}
.social-box{
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background-color: var(--text-light-color);
    box-shadow: 0px 40px 100px 0px rgba(37, 73, 69, 0.1);
    transition: all 0.5s ease-in-out;
    margin-bottom: 20px;
}
.social-box.facebook{
    width: 128px;
    height: 128px;
}
.social-box.gmail{
    width: 140px;
    height: 140px;
}
.social-box.behance{
    width: 120px;
    height: 120px;
}
.social-box.microsoft{
    width: 130px;
    height: 130px;
}
.social-box.oo{
    width: 90px;
    height: 90px;
}
.project-box{
    background: linear-gradient(90.26deg,#6DE7DA  0.36%,#32CCBC 39.41%, #32CCBC  73.16%, #3A6B66 90.9%);
    color: var(--text-light-color);
    border-radius: 20px;

}
.project-box .heading{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
}
.project-box .heading + span{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    display: block;
    margin-top: 20px;
    letter-spacing: 0px;
}
*/